<!-- Header -->
<div class="header bg-primary pb-6">
  <div class="container-fluid">
    <div class="header-body">
      <div class="row align-items-center py-4">
        <div class="col-lg-8 col-7">
          <nav aria-label="breadcrumb" class="d-none d-md-inline-block">
            <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
              <li class="breadcrumb-item"><a routerLink="/administrativo/perfil"><i class="fas fa-home"></i></a></li>
              <li class="breadcrumb-item active" aria-current="page">Contatos</li>
            </ol>
          </nav>
        </div>
        <div class="col-lg-4 col-5 text-right">
          <a (click)="openView(2, null)" class="btn btn-sm btn-neutral">Adicionar</a>
          <!-- <a href="#" class="btn btn-sm btn-neutral">Filtros</a> -->
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Page content -->
<div class="container-fluid mt--6">
  <!-- Listar -->
  <ng-container *ngIf="openViewAction === 1" class="row">
    <div class="col">
      <div class="card">
        <!-- Card header -->
        <div class="card-header border-0">
          <h3 class="mb-0">Contatos</h3>
        </div>
        <!-- Light table -->
        <div class="table-responsive">
          <table mat-table [dataSource]="dataSource" matSort class="table align-items-center table-flush">
            <ng-container matColumnDef="nome">
              <th mat-header-cell *matHeaderCellDef mat-sort-header class="sort">Nome</th>
              <td mat-cell *matCellDef="let row"> {{row.name}}</td>
            </ng-container>

            <ng-container matColumnDef="tipo">
              <th mat-header-cell *matHeaderCellDef mat-sort-header class="sort">Tipo</th>
              <td mat-cell *matCellDef="let row"> {{row.type}}</td>
            </ng-container>

            <ng-container matColumnDef="valor">
              <th mat-header-cell *matHeaderCellDef mat-sort-header class="sort">Valor</th>
              <td mat-cell *matCellDef="let row"> {{row.value}}</td>
            </ng-container>


            <ng-container matColumnDef="acoes">
              <th mat-header-cell *matHeaderCellDef mat-sort-header class="sort"></th>
              <td mat-cell *matCellDef="let row" class="text-right">
                <div class="dropdown">
                  <a class="btn btn-sm btn-icon-only text-light" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-ellipsis-v"></i>
                  </a>
                  <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                    <a (click)="openView(3, row.id)" class="dropdown-item item-edit">
                      <i class="fas fa-edit"></i>
                      <span>Editar</span>
                    </a>
                    <a (click)="openModalDelete(row.id)" class="dropdown-item item-delete">
                      <i class="fas fa-trash"></i>
                      <span>Deletar</span>
                    </a>
                  </div>
                </div>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayed"></tr>
            <tr mat-row *matRowDef="let row; columns: displayed;"></tr>

            <tr class="mat-row" *matNoDataRow>
              <td class="mat-cell" colspan="4">Sem dados cadastrados.</td>
            </tr>
          </table>
        </div>

        <!-- Card footer -->
        <div class="card-footer py-4">
          <mat-paginator
            [pageSizeOptions]="pageSizeOptions"
            >
          </mat-paginator>
        </div>
      </div>
    </div>
  </ng-container>

  <!--  Adicionar -->
  <ng-container *ngIf="openViewAction === 2" class="row">
    <div class="col p-0">
      <div class="card shadow">
        <div class="card-header border-0">
            <div class="row align-items-center">
                <div class="col-8">
                    <h3 class="mb-0">Adicionar Contato</h3>
                </div>
                <div class="col-4 text-right">
                    <a (click)="openView(1, null)" class="btn btn-sm btn-primary">Voltar</a>
                </div>
            </div>
        </div>
        <div class="card-body">
          <form [formGroup]="dataForm" (ngSubmit)="post()">
            <h6 class="heading-small text-muted mb-4">Informações da Contato</h6>

            <!-- Alertas -->
            <alert class="alert-dismiss" type="{{responseSrv.alertType}}"
            [isOpen]="responseSrv.open"
            [dismissible]="responseSrv.dismissible"
            (onClosed)="responseSrv.onClosed()"
            >
              <ng-container *ngFor="let mensagem of responseSrv.alertResponse">
                <strong>{{mensagem}}</strong><br />
              </ng-container>
            </alert>

            <div class="pl-lg-3">
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-first-name">Nome</label>
                    <input type="text" formControlName="name" class="form-control" placeholder="WhatsApp">
                    <span class="text-warning error" *ngIf="dataForm.controls.name.invalid">
                      Digite um nome válido.
                    </span>
                  </div>
                </div>

                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-first-name">Tipo</label>
                   <select class="form-control" formControlName="type" (change)="placeholderSelect(dataForm.value.type)">
                    <option value="">Selecione o tipo de contato...</option>
                    <option value="celular">Celular</option>
                    <option value="email">Email</option>
                    <option value="local">Localização</option>
                    <option value="telefone">Telefone</option>
                    <option value="whatsapp">Whatsapp</option>
                   </select>
                    <span class="text-warning error" *ngIf="dataForm.controls.type.invalid">
                      Selecione o tipo de contato.
                    </span>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-12">
                  <div class="form-group">
                    <label class="form-control-label" for="input-first-name">Valor</label>
                    <input type="text" formControlName="value" placeholder="{{placeholder}}" class="form-control">
                    <span class="text-warning error" *ngIf="dataForm.controls.value.invalid">
                      Digite um valor válido.
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="text-center">
              <button type="submit" [disabled]="dataForm.invalid" class="btn btn-success">Enviar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </ng-container>

   <!--  Editar -->
  <ng-container *ngIf="openViewAction === 3" class="row">
    <div class="col p-0">
      <div class="card shadow">
        <div class="card-header border-0">
            <div class="row align-items-center">
                <div class="col-8">
                    <h3 class="mb-0">Editar Contato</h3>
                </div>
                <div class="col-4 text-right">
                    <a (click)="openView(1, null)" class="btn btn-sm btn-primary">Voltar</a>
                </div>
            </div>
        </div>
        <div class="card-body">
          <form [formGroup]="dataForm" (ngSubmit)="update(dataGetByID.id)">
            <h6 class="heading-small text-muted mb-4">Informações da Contato</h6>

            <!-- Alertas -->
            <alert class="alert-dismiss" type="{{responseSrv.alertType}}"
            [isOpen]="responseSrv.open2"
            [dismissible]="responseSrv.dismissible"
            (onClosed)="responseSrv.onClosed()"
            >
              <ng-container *ngFor="let mensagem of responseSrv.alertResponse">
                <strong>{{mensagem}}</strong><br />
              </ng-container>
            </alert>

            <div class="pl-lg-3">
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-first-name">Nome</label>
                    <span class="value-get-id" for="input-first-name">Atual: {{dataGetByID.name}}</span>
                    <input type="text" formControlName="name" class="form-control" placeholder="Whatsapp">
                    <span class="text-warning error" *ngIf="dataForm.controls.name.invalid">
                      Digite um nome válido.
                    </span>
                  </div>
                </div>

                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-first-name">Tipo</label>
                    <span class="value-get-id" for="input-first-name">Atual: {{dataGetByID.type}}</span>
                    <select class="form-control" formControlName="type" (change)="placeholderSelect(dataForm.value.type)">
                      <option value="">Selecione o tipo de contato...</option>
                      <option value="celular">Celular</option>
                      <option value="email">Email</option>
                      <option value="local">Localização</option>
                      <option value="telefone">Telefone</option>
                      <option value="whatsapp">Whatsapp</option>
                    </select>
                    <span class="text-warning error" *ngIf="dataForm.controls.type.invalid">
                      Selecione o tipo de contato.
                    </span>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-12">
                  <div class="form-group">
                    <label class="form-control-label" for="input-first-name">Valor</label>
                    <span class="value-get-id" for="input-first-name">Atual: {{dataGetByID.value}}</span>
                    <input type="text" formControlName="value" placeholder="13912345678" class="form-control">
                    <span class="text-warning error" *ngIf="dataForm.controls.value.invalid">
                      Digite um valor válido.
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="text-center">
              <button type="submit" [disabled]="dataForm.invalid" class="btn btn-success">Enviar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </ng-container>
</div>
